<template>
  <component
    :is="as"
    class="tw-justify-center tw-w-auto tw-relative tw-overflow-hidden tw-bg-gray-700 tw-p-0 tw-border-none"
  >
    <img
      v-if="url"
      :src="url"
      class="tw-max-w-full tw-max-h-full tw-block tw-mx-auto"
      :class="{ 'tw-object-cover tw-h-full': cover, 'tw-object-contain': !cover }"
    />
    <div
      v-else
      class="tw-bg-gray-700 tw-w-full tw-h-full tw-text-aura-primary tw-flex tw-items-center tw-justify-center"
    >
      <icon-carbon-no-image class="tw-w-16 tw-h-16" />
    </div>
    <slot />
  </component>
</template>

<script lang="ts" setup>
defineOptions({
  compatConfig: { MODE: 3 },
})

withDefaults(
  defineProps<{
    url: string | null
    as?: string
    alt?: string
    cover?: boolean
  }>(),
  {
    cover: true,
    as: 'div',
    alt: '',
  },
)
</script>
