<template>
  <Browser
    :load-more="loadMore"
    class="tw-grid tw-gap-3 tw-grid-cols-2 sm:tw-grid-cols-3 md:tw-grid-cols-4 tw-max-h-[50vh] lg:tw-max-h-[600px]"
  >
    <li v-for="image in imageStore.items" :key="image.id" class="tw-block">
      <ImagePreview
        as="button"
        :url="image.image"
        :alt="image.altText ?? ''"
        class="tw-h-full tw-aspect-square tw-cursor-pointer tw-border tw-border-gray-200 tw-origin-center tw-transition-all tw-ring-blue-200 tw-ring-offset-2 tw-rounded tw-overflow-hidden hover:tw-z-20 hover:tw-ring-4 focus:tw-ring-4 focus:tw-outline-none"
        tabindex="0"
        @enter.stop.prevent="emit('input', image)"
        @click.stop="emit('input', image)"
      />
    </li>
  </Browser>
</template>

<script lang="ts" setup>
import { Image, useImageStore } from '@/stores/images'
import Browser from '../generic/Browser.vue'
import ImagePreview from './ImagePreview.vue'

const emit = defineEmits<{
  (e: 'input', value: Image): void
}>()

const imageStore = useImageStore()

function loadMore() {
  imageStore.list(imageStore.count === 0 ? 1 : imageStore.currentPage + 1)
}
</script>

<script lang="ts">
export default {
  compatConfig: {
    MODE: 3,
  },
}
</script>
