<template>
  <ImagePreview
    :url="image.image"
    class="tw-p-6 tw-bg-gray-700 tw-shadow-inner tw-flex tw-rounded tw-max-h-[300px]"
    :cover="false"
  />

  <fieldset class="tw-flex tw-flex-col tw-gap-x-6 tw-gap-y-3 tw-space-y-0 tw-mt-6" v-bind="attrs">
    <FormGroup v-slot="controlAttributes" :label="t('image.altText')" class="tw-mb-0">
      <textarea
        ref="descriptionEl"
        v-model="image.altText"
        rows="1"
        class="form-control"
        v-bind="controlAttributes"
      />
    </FormGroup>

    <FormGroup v-slot="controlAttributes" :label="t('image.license')">
      <select v-model="image.licenseId" class="form-control" required v-bind="controlAttributes">
        <option v-for="license in licenseStore.items" :key="license.id" :value="license.id">
          {{ license.name }}
        </option>
      </select>
    </FormGroup>

    <FormGroup v-slot="controlAttributes" :label="t('image.credits')" :errors="[needsAuthorError]">
      <input
        v-model="image.credits"
        class="form-control"
        :required="selectedLicense?.needsAuthor"
        v-bind="controlAttributes"
      />
    </FormGroup>

    <FormGroup
      v-slot="controlAttributes"
      :errors="[isUseExplicitlyGrantedByAuthorError]"
      custom-control
    >
      <label class="tw-flex tw-gap-2 tw-items-center tw-mb-0">
        <input
          v-model="image.isUseExplicitlyGrantedByAuthor"
          type="checkbox"
          :required="selectedLicense?.requiresExpressPermissionForPublication"
          v-bind="controlAttributes"
        />
        {{ t('image.isUseExplicitlyGrantedByAuthor') }}
      </label>
    </FormGroup>
  </fieldset>
</template>

<script lang="ts" setup>
import { useTextareaAutosize } from '@vueuse/core'
import { useAttrs } from 'vue'
import { useI18n } from '@/i18n'
import { useCopy } from '@/form'
import { Image, NewImage } from '@/stores/images'
import ImagePreview from './ImagePreview.vue'
import { useLicenseStore, useLicenseValidator, useSelectedLicense } from '@/stores/licenses'
import FormGroup from '@/components/generic/FormGroup.vue'

defineOptions({
  inheritAttrs: false,
  compatConfig: { MODE: 3 },
})
const modelValue = defineModel<Image | NewImage>({ required: true })
const attrs = useAttrs()
const { t } = useI18n()
const licenseStore = useLicenseStore()
const image = useCopy<Image | NewImage>(modelValue, {
  clone: (image) => ({ ...image }),
  save: (image) => (modelValue.value = image),
})
const selectedLicense = useSelectedLicense(() => image.value.licenseId)
const { needsAuthorError, isUseExplicitlyGrantedByAuthorError } = useLicenseValidator(
  selectedLicense,
  image,
)

const { textarea: descriptionEl } = useTextareaAutosize({ watch: () => image.value.altText })
</script>
