<template>
  <div>
    <b-modal
      ref="modalEmissionManagerResolve"
      :title="$t('conflictResolution.titleModal', { show: sanitizeHTML(selectedShow.name) })"
      :cancel-title="$t('cancel')"
      size="lg"
      @ok="resolve"
    >
      <div v-if="loaded.modal">
        <p
          v-html="
            $t('conflictResolution.projectedSlot', {
              firstDate: prettyDate(toResolve.start),
              startTime: prettyTime(toResolve.start),
              endTime: prettyTime(toResolve.end),
            })
          "
        />

        <p>{{ $t('conflictResolution.conflictsWith') }}</p>
        <b-table striped :fields="collisionFields" :items="toResolve.collisions">
          <template #cell(start)="data">
            {{ prettyTime(data.value) }}
          </template>

          <template #cell(end)="data">
            {{ prettyTime(data.value) }}
          </template>
        </b-table>

        <p>{{ $t('conflictResolution.whichStrategy') }}</p>
        <div class="tw-flex tw-flex-col tw-space-y-2">
          <b-button
            v-if="toResolve.solutionChoices.indexOf('ours') >= 0"
            variant="success"
            size="sm"
            @click="resolve('ours')"
          >
            {{ $t('conflictResolution.strategies.ours') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('theirs') >= 0"
            variant="danger"
            size="sm"
            @click="resolve('theirs')"
          >
            {{ $t('conflictResolution.strategies.theirs') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('theirs-start') >= 0"
            size="sm"
            @click="resolve('theirs-start')"
          >
            {{ $t('conflictResolution.strategies.theirsStart') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('theirs-end') >= 0"
            size="sm"
            @click="resolve('theirs-end')"
          >
            {{ $t('conflictResolution.strategies.theirsEnd') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('theirs-both') >= 0"
            size="sm"
            @click="resolve('theirs-both')"
          >
            {{ $t('conflictResolution.strategies.theirsBoth') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('ours-start') >= 0"
            size="sm"
            @click="resolve('ours-start')"
          >
            {{ $t('conflictResolution.strategies.oursStart') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('ours-end') >= 0"
            size="sm"
            @click="resolve('ours-end')"
          >
            {{ $t('conflictResolution.strategies.oursEnd') }}
          </b-button>

          <b-button
            v-if="toResolve.solutionChoices.indexOf('ours-both') >= 0"
            size="sm"
            @click="resolve('ours-both')"
          >
            {{ $t('conflictResolution.strategies.oursBoth') }}
          </b-button>
        </div>
      </div>
    </b-modal>

    <b-modal
      ref="modalEmissionManagerResolveNotNeeded"
      :title="$t('conflictResolution.titleNoConflict')"
      :cancel-title="$t('cancel')"
      ok-only
      size="sm"
    >
      <div>
        <p>{{ $t('conflictResolution.noConflict') }}</p>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import prettyDate from '@/mixins/prettyDate'
import { sanitizeHTML } from '@/util'

export default {
  mixins: [prettyDate],
  emits: ['resolveConflict'],

  data() {
    return {
      loadedModal: false,
      toResolve: null,
    }
  },

  computed: {
    loaded() {
      return {
        shows: this.$store.state.shows.loaded.shows,
        modal: this.loadedModal,
      }
    },

    collisionFields() {
      return [
        { key: 'showName', label: this.$t('conflictResolution.showName') },
        { key: 'start', label: this.$t('conflictResolution.from') },
        { key: 'end', label: this.$t('conflictResolution.to') },
      ]
    },

    ...mapGetters({
      selectedShow: 'shows/selectedShow',
    }),
  },

  methods: {
    sanitizeHTML,
    resolve(mode) {
      switch (mode) {
        case 'ours':
        case 'theirs':
        case 'theirs-start':
        case 'theirs-end':
        case 'theirs-both':
        case 'ours-start':
        case 'ours-end':
        case 'ours-both':
          this.$emit('resolveConflict', this.toResolve, mode)
          this.$refs.modalEmissionManagerResolve.hide()
          break

        default:
          this.notYetImplemented()
          break
      }
    },

    // initialise properties and open the modal
    open(event) {
      this.toResolve = event
      this.loadedModal = true
      this.$refs.modalEmissionManagerResolve.show()
    },

    // opens the modal signaling that there is no conflict to resolve
    openNotNeeded() {
      this.$refs.modalEmissionManagerResolveNotNeeded.show()
    },

    notYetImplemented: function () {
      alert(this.$t('unimplemented'))
    },
  },
}
</script>

<style scoped>
.row {
  margin-bottom: 1em;
}
</style>
