<template>
  <!-- eslint-disable vue/valid-v-slot -->
  <div>
    <!-- Only display a spinner if the files are not loaded yet -->
    <div v-if="!loaded.files">
      <b-row>
        <b-col align="center">
          <img src="/assets/radio.gif" :alt="$t('loading')" />
        </b-col>
      </b-row>
    </div>

    <!-- If all file data is loaded we can present an upload button and
        a table of files (if there are already any or if there are any already
        being uploaded/imported )-->
    <div v-else>
      <!-- Modal: Add new file
            This is the modal that is used when the user clicks on the
            "Upload or add a file" button. When the user hits the OK button,
            the addFile method will be called. -->
      <b-modal
        id="modal-add-file"
        ref="modalAddFile"
        :title="$t('fileAdder.title')"
        :cancel-title="$t('cancel')"
        @ok="addFile"
      >
        <!-- If the checkbox below is checked we only need a simple input
                for entering an URI, instead of a complete file upload dialogue -->
        <div v-if="addNewFileURI">
          <b-row>
            <b-col md="2">
              <b>{{ $t('fileAdder.link') }}:</b>
            </b-col>
            <b-col>
              <b-form-input
                v-model="uploadSourceURI"
                type="url"
                :placeholder="$t('fileAdder.linkPlaceholder')"
              />
            </b-col>
          </b-row>
        </div>
        <!-- If the checkbox is not checked, we provide a file selection
                dialogue instead of a simple input for an URI -->
        <div v-else>
          <b-form-file
            v-model="uploadSourceFile"
            accept="audio/*"
            :placeholder="$t('browse')"
            :drop-placeholder="$t('drop')"
          />
        </div>

        <hr />

        <!-- This checkbox determines whether there is just a simple input
                or a file selection dialogue (see above) -->
        <div align="center">
          <b-form-checkbox v-model="addNewFileURI" value="true" unchecked-value="false">
            {{ $t('fileAdder.download') }}
          </b-form-checkbox>
        </div>
      </b-modal>

      <!-- Modal: Edit meta information
            This modal lets the user change a file's meta information (artist,
            album, title). When the user hits OK, the saveFile method is called.
            -->
      <b-modal
        id="modal-edit-file"
        ref="modalEditFile"
        :title="$t('fileAdder.editMeta')"
        :cancel-title="$t('cancel')"
        size="lg"
        @ok="saveFile"
      >
        <!-- Input element: Artist -->
        <b-row>
          <b-col md="2"> {{ $t('metadata.artist') }}: </b-col>
          <b-col>
            <b-form-input v-model="filemeta.artist" type="text" />
          </b-col>
        </b-row>

        <!-- Input element: Album -->
        <b-row>
          <b-col md="2"> {{ $t('metadata.album') }}: </b-col>
          <b-col>
            <b-form-input v-model="filemeta.album" type="text" />
          </b-col>
        </b-row>

        <!-- Input element: Title -->
        <b-row>
          <b-col md="2"> {{ $t('metadata.title') }}: </b-col>
          <b-col>
            <b-form-input v-model="filemeta.title" type="text" />
          </b-col>
        </b-row>

        <hr />

        <!-- As additional orientation we provide the source this file was
                uploaded/imported from. This might help the user to manage all files
                and set the meta information accordingly.
                -->
        <b-row>
          <b-col md="2"> {{ $t('metadata.source') }}: </b-col>
          <b-col>{{ filemeta.uri }}</b-col>
        </b-row>
      </b-modal>

      <!-- Now for the files. If there are none yet, just show an alert and
            a button for uploading/importing a new file -->
      <div v-if="files.length === 0" align="center">
        <b-alert show variant="warning">
          {{ $t('fileManager.noFilesAvailable') }}
        </b-alert>
        <b-button v-b-modal.modal-add-file variant="info">
          {{ $t('fileManager.upload') }}
        </b-button>
      </div>

      <!-- If there already are files for this show we'll show the button
            for uploading/importing a new file and then a table with all files -->
      <div v-else>
        <!-- This is the button -->
        <div align="center" style="padding-bottom: 1.5em">
          <b-button v-b-modal.modal-add-file variant="info">
            {{ $t('fileManager.upload') }}
          </b-button>
        </div>

        <!-- We also import the modal for showing file import logs here -->
        <import-log ref="importLog" />

        <!-- And here comes the table -->
        <b-table ref="filesTable" striped :fields="filesTableFields" :items="files">
          <!-- The first two columns in the table (Index & Artist) are filled
                    in automatically, because we do not use these fields for displaying
                    upload/import progress information.
                    -->

          <!-- Column: Album
                    This column displays either the album meta information or, in case
                    the file is just being uploaded/imported, a spinner visualising an
                    ongoing import.
                    -->
          <template #cell(metadata.album)="data">
            <span v-if="data.item.source.import.state === 'aborted'">
              <b-badge variant="danger">{{ $t('fileManager.error') }}:</b-badge>
            </span>

            <span v-else-if="data.item.source.import.state !== 'done'" />
            <span v-else>{{ data.value }}</span>
          </template>

          <!-- Column: Title
                    This column displays either the title meta information or, in case
                    the file is just being uploaded/imported, the current phase
                    of the ongoing import (fetching or normalizing).
                    -->
          <template #cell(metadata.title)="data">
            <span v-if="data.item.source.import.state === 'done'">{{ data.value }}</span>
            <span v-else-if="data.item.source.import.state === 'aborted'"
              >{{ $t('fileManager.importAborted') }}}</span
            >
            <span v-else-if="data.item.source.import.progress !== undefined"
              >{{ data.item.source.import.progress.step }} :</span
            >
          </template>

          <!-- Column: Duration
                    This column displays either the duration of the audio file, or, if
                    the file is just being uploaded/imported, the current progress.
                    -->
          <template #cell(duration)="data">
            <!-- In case the import is already done just print a pretty duration -->
            <div v-if="data.item.source.import.state === 'done'">
              {{ secondsToDurationString(data.value) }}
            </div>
            <!-- If the import was aborted show some error info -->
            <div v-else-if="data.item.source.import.state === 'aborted'">
              {{ data.item.source.import.error }}
            </div>
            <!-- Or print the progress for ongoing imports. We use the variant
                        prop of the b-progress to display the bar in different colours -
                        either the info variant for the fetching phase or the success
                        variant for the normalizing phase -->
            <div v-else-if="data.item.source.import.progress !== undefined">
              <b-progress
                :value="data.item.source.import.progress.progress"
                :max="1"
                show-progress
                :variant="data.item.source.import.progress.step === 'fetching' ? 'info' : 'success'"
                animated
              />
            </div>
          </template>

          <!-- Column: Size
                    This column displays the size of the audio file, if the file is
                    already fully imported. Otherwise we'll just leave it empty.
                    -->
          <template #cell(size)="data">
            <span v-if="data.item.source.import.state === 'done'">{{
              prettyFileSize(data.value)
            }}</span>
          </template>

          <!-- Column: Actions
                    This column displays the available button for actions  the user can
                    take on this file (e.g. editing and deleting).
                    -->
          <template #cell(actions)="data">
            <b-button-group size="sm">
              <b-button @click="editFile(data.item.id)">
                {{ $t('edit') }}
              </b-button>
              <b-button
                v-b-tooltip.hover
                :title="$t('fileManager.importLogTooltip')"
                @click="$refs.importLog.openModal(data.item.id)"
              >
                &#128220;
              </b-button>
              <b-button variant="danger" @click="deleteFile(data.item.id)">
                {{ $t('delete') }}
              </b-button>
            </b-button-group>
          </template>
        </b-table>
      </div>
      <!-- End of files table -->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { filesize } from 'filesize'
import prettyDate from '../../mixins/prettyDate'
import importLog from './ImportLog.vue'
import { secondsToDurationString } from '../../util'

export default {
  // include the modal for displaying file import logs
  components: {
    'import-log': importLog,
  },

  mixins: [prettyDate],

  data() {
    return {
      // those are used for the modal to add a new file
      addNewFileURI: false,
      uploadSourceURI: '',
      uploadSourceFile: null,

      // we need this for the modal to edit a file's meta information
      filemeta: {
        id: null,
        artist: '',
        album: '',
        title: '',
      },

      // to poll the progress info of a running update we need an interval
      uploadInterval: null,
    }
  },

  computed: {
    // configuration of the files table, which will use the files array as data
    filesTableFields() {
      return [
        { key: 'id', label: this.$t('playlistTable.index') },
        { key: 'metadata.artist', label: this.$t('metadata.artist') },
        { key: 'metadata.album', label: this.$t('metadata.album') },
        { key: 'metadata.title', label: this.$t('metadata.title') },
        { key: 'duration', label: this.$t('playlistTable.duration') },
        { key: 'size', label: this.$t('metadata.size') },
        { key: 'actions', label: this.$t('playlistTable.actions'), class: 'text-right' },
      ]
    },

    loaded() {
      return {
        files: this.$store.state.files.loaded.files,
      }
    },

    ...mapGetters({
      selectedShow: 'shows/selectedShow',
      files: 'files/files',
      getFileById: 'files/getFileById',
    }),
  },

  methods: {
    secondsToDurationString,
    // We want to have a nice format for the file size, given a size in Bytes.
    // For that we're useing the filesize npm module.
    prettyFileSize: function (s) {
      return filesize(s)
    },

    // To start modifying the meta information for a file we have to set our
    // temporary data (which will be used to check if anything changed) and
    // then open the editing modal
    editFile: function (id) {
      const file = this.getFileById(id)
      this.filemeta.id = file.id
      this.filemeta.artist = file.metadata.artist
      this.filemeta.album = file.metadata.album
      this.filemeta.title = file.metadata.title
      this.filemeta.uri = file.source.uri
      this.$bvModal.show('modal-edit-file')
    },

    saveFile: function (event) {
      event.preventDefault()
      const modal = this.$refs.modalEditFile
      const file = this.getFileById(this.filemeta.id)
      if (
        this.filemeta.artist !== file.metadata.artist ||
        this.filemeta.album !== file.metadata.album ||
        this.filemeta.title !== file.metadata.title
      ) {
        this.$store.dispatch('files/updateFile', {
          showSlug: this.selectedShow.slug,
          fileId: this.filemeta.id,
          metadata: {
            artist: this.filemeta.artist ? this.filemeta.artist : null,
            album: this.filemeta.album ? this.filemeta.album : null,
            title: this.filemeta.title ? this.filemeta.title : null,
          },
          callback: () => {
            modal.hide()
          },
        })
      }
    },

    deleteFile: function (id) {
      this.$store.dispatch('files/deleteFile', {
        showSlug: this.selectedShow.slug,
        fileId: id,
      })
    },

    addFile() {
      this.$store.dispatch('files/addFile', {
        showSlug: this.selectedShow.slug,
        addNewFileURI: this.addNewFileURI,
        uploadSourceURI: this.uploadSourceURI,
        uploadSourceFile: this.uploadSourceFile,
        callback: () => {
          this.fetchFiles(this.selectedShow.slug)
          if (this.uploadInterval === null) {
            this.uploadInterval = setInterval(() => {
              this.fetchImports()
            }, 250)
          }
        },
      })
    },

    fetchImports() {
      this.$store.dispatch('files/fetchImports', {
        showSlug: this.selectedShow.slug,
        callback: (response) => {
          // if all imports are done, we will receive an empty result set and stop
          // polling the server again. then we can also refetch all file statuses.
          if (response.data.results.length === 0) {
            clearInterval(this.uploadInterval)
            this.uploadInterval = null
            this.fetchFiles()
          }
          // if there are still imports going on, we just update the respective
          // progress information for the import we just fetched and rerender
          // the filesTable
          else {
            for (const i in response.data.results) {
              this.$store.commit('files/updateProgress', {
                id: response.data.results[i].id,
                progress: response.data.results[i].progress.progress,
                step: response.data.results[i].progress.step,
              })
              let p = '[import]'
              p += ' id: ' + response.data.results[i].id
              p += ', progress: ' + response.data.results[i].progress.progress
              p += ', step: ' + response.data.results[i].progress.step
              this.$log.debug(p)
              this.$refs.filesTable.refresh()
            }
          }
        },
        callbackCancel: () => {
          // also in case of an error we have to cancel the uploadInterval,
          // otherwise we'll continuosly get alerts if the error is persistent
          clearInterval(this.uploadInterval)
          this.uploadInterval = null
        },
      })
    },

    fetchFiles() {
      this.$store.dispatch('files/fetchFiles', { showSlug: this.selectedShow.slug })
    },
  },
}
</script>
