<template>
  <div>
    <b-modal id="modal-file-manager-log" :title="$t('importLog.title')" size="xl" ok-only>
      <div v-if="error">
        <b-alert variant="danger" show>
          {{ $t('importLog.fetchError') }}
        </b-alert>
      </div>
      <div v-if="loaded">
        {{ log }}
        <hr />
        <div v-if="results.fetch">
          <h2>{{ $t('importLog.fetchLog') }}</h2>
          <b-table :items="results.fetch" />
        </div>
        <div v-if="results.normalize">
          <h2>{{ $t('importLog.normalizeLog') }}</h2>
          <b-table :items="results.normalize" />
        </div>
      </div>
      <div v-else>
        <div align="center">
          <img src="/assets/radio.gif" width="96" :alt="$t('loading')" /><br />
          {{ $t('loading') }}
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      error: false,
    }
  },

  computed: {
    loaded() {
      return this.$store.state.files.loaded.log
    },
    log() {
      return this.$t('importLog.availableLogs') + ': ' + Object.keys(this.results).join(', ')
    },

    ...mapGetters({
      selectedShow: 'shows/selectedShow',
      results: 'files/log',
    }),
  },

  methods: {
    openModal: function (fileId) {
      this.error = false
      this.$bvModal.show('modal-file-manager-log')
      this.$store.dispatch('files/fetchLog', {
        showSlug: this.selectedShow.slug,
        fileId: fileId,
        callbackCancel: () => {
          this.error = true
        },
      })
    },
  },
}
</script>
