<template>
  <b-jumbotron>
    <!-- The jumbotron is used to display the name and short description of the
        currently selected show and let the user choose between editing files and
        playlists -->
    <template #header>
      <SafeHTML
        v-if="loaded.shows"
        :html="selectedShow.name"
        sanitize-preset="inline-noninteractive"
      />
      <span v-else>{{ $t('loading') }}</span>
    </template>
    <template #lead>
      <SafeHTML
        v-if="loaded.shows"
        :html="selectedShow.shortDescription"
        sanitize-preset="inline-noninteractive"
        as="p"
      />
    </template>
    <hr />
    <div align="center">
      <b-button-group>
        <b-button
          size="lg"
          :variant="button.files"
          @click="$store.commit('setFileManagerMode', 'files')"
        >
          {{ $t('filePlaylistManager.files') }}
        </b-button>
        <b-button
          size="lg"
          :variant="button.playlists"
          @click="$store.commit('setFileManagerMode', 'playlists')"
        >
          {{ $t('filePlaylistManager.playlists') }}
        </b-button>
      </b-button-group>
    </div>
  </b-jumbotron>
</template>

<script>
import { mapGetters } from 'vuex'
import SafeHTML from '@/components/generic/SafeHTML'

export default {
  components: { SafeHTML },
  computed: {
    loaded() {
      return {
        shows: this.$store.state.shows.loaded.shows,
      }
    },

    button() {
      return {
        files: this.mode === 'files' ? 'primary' : 'outline-primary',
        playlists: this.mode === 'playlists' ? 'primary' : 'outline-primary',
      }
    },

    ...mapGetters({
      selectedShow: 'shows/selectedShow',
      mode: 'fileManagerMode',
    }),
  },
}
</script>
