<template>
  <div>
    <!-- Only display a spinner if the playlists are not loaded yet -->
    <div v-if="!loaded.playlists">
      <b-row>
        <b-col align="center">
          <img src="/assets/radio.gif" :alt="$t('loading')" />
        </b-col>
      </b-row>
    </div>

    <!-- If all playlist data is loaded we can present a create button and
        a table of playlists (if there are already any)-->
    <div v-else>
      <!-- If no playlists are available, only show an alert and a create button -->
      <div v-if="playlists.length === 0" align="center">
        <b-alert show variant="warning">
          {{ $t('playlistManager.noPlaylistsAvailable') }}
        </b-alert>
        <b-button variant="info" to="/playlist/new">
          {{ $t('playlistManager.create') }}
        </b-button>
      </div>
      <!-- In case there are playlists, show the button and then the table -->
      <div v-else>
        <div align="center" style="padding-bottom: 1.5em">
          <b-button variant="info" to="/playlist/new">
            {{ $t('playlistManager.create') }}
          </b-button>
        </div>
        <b-table id="playlistsTable" striped :fields="playlistsTableFields" :items="playlists">
          <!-- Column: Entries
                    This column displays the number of entries of the playlist.
                    -->
          <template #cell(entries)="data">
            <span
              :id="`playlist-${data.id}-playable-count`"
              class="tw-underline hover:tw-no-underline tw-cursor-help"
            >
              {{ $t('playlistTable.items', data.value.length) }}
            </span>
            <b-tooltip :target="`playlist-${data.id}-playable-count`" triggers="hover">
              <div class="text-left whitespace-nowrap">
                <template v-for="(playable, index) in data.value" :key="index">
                  {{ index + 1 }}: {{ playable.uri }}<br />
                </template>
              </div>
            </b-tooltip>
          </template>

          <!-- Column: Duration
                    This column displays the duration of all playlist entries combined
                    -->
          <template #cell(duration)="data">
            {{ playlistDuration(data.item) }}
          </template>

          <!-- Column: Last edit
                    This column lists the last date this playlist was changed.
                    -->
          <template #cell(updated)="data">
            {{ prettyDateTime(data.value) }}
          </template>

          <!-- Column: Actions
                    This column displays the available buttons for actions the user can
                    take on this playlist (e.g. editing and deleting).
                    -->
          <template #cell(actions)="data">
            <b-button-group size="sm">
              <b-button :to="'/playlist/' + data.item.id">
                {{ $t('edit') }}
              </b-button>

              <b-button variant="danger" @click="deletePlaylist(data.item.id)">
                {{ $t('delete') }}
              </b-button>
            </b-button-group>
          </template>
        </b-table>
      </div>
      <!-- End of playlists table -->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import prettyDate from '@/mixins/prettyDate'
import playlist from '@/mixins/playlist'

export default {
  mixins: [prettyDate, playlist],

  // include the modal for displaying file import logs
  data() {
    return {
      // for adding and editing the playlists we need some temporary stuff
      playlistEditor: {
        id: null,
        mode: 'add', // should be either 'add' or 'edit'
        description: '',
        entries: [],
        newStreamURL: null,
      },
    }
  },

  computed: {
    loaded() {
      return {
        playlists: this.$store.state.playlists.loaded.playlists,
      }
    },

    // configuration of the playlists table, which will use the playlists array as data
    playlistsTableFields() {
      return [
        { key: 'id', label: this.$t('playlistTable.index') },
        { key: 'description', label: this.$t('playlistTable.description') },
        { key: 'entries', label: this.$t('playlistTable.entries') },
        { key: 'duration', label: this.$t('playlistTable.duration') },
        { key: 'updated', label: this.$t('playlistTable.lastEdit') },
        { key: 'actions', label: this.$t('playlistTable.actions'), class: 'text-right' },
      ]
    },

    playlistEditTableFields() {
      return [
        { key: 'id', label: this.$t('playlistTable.index') },
        { key: 'type', label: this.$t('playlistTable.type') },
        { key: 'source', label: this.$t('playlistTable.source') },
        { key: 'actions', label: this.$t('playlistTable.actions'), class: 'text-right' },
      ]
    },

    ...mapGetters({
      selectedShow: 'shows/selectedShow',
      playlists: 'playlists/playlists',
    }),
  },

  methods: {
    deletePlaylist(id) {
      // TODO: add mechanism to indicate the running delete request in the files table
      this.$store.dispatch('playlists/delete', {
        showSlug: this.selectedShow.slug,
        playlistId: id,
      })
    },
  },
}
</script>
