<template>
  <div v-if="!selectedShow" class="tw-text-center tw-my-8">
    {{ $t('loading') }}
  </div>

  <b-container v-else class="tw-mb-8">
    <h1>
      <template v-if="id">
        {{
          $t('playlistEditor.titleExisting', {
            id: playlistEditor.id,
            show: sanitizeHTML(selectedShow.name),
          })
        }}
      </template>
      <template v-else>
        {{ $t('playlistEditor.titleNew', { show: sanitizeHTML(selectedShow.name) }) }}
      </template>
    </h1>

    <b-row class="tw-my-8 tw-items-center">
      <b-col cols="2"> {{ $t('showMeta.description') }}: </b-col>

      <b-col>
        <b-form-input
          v-model="playlistEditor.description"
          type="text"
          :placeholder="$t('showMeta.descriptionPlaceholder')"
        />
      </b-col>
    </b-row>

    <!-- If no entries are here (i.e. we add a new playlist), only show
            a hint that there's nothing here yet. -->
    <div v-if="playlistEditor.entries.length === 0" align="center">
      {{ $t('playlistEditor.noEntriesAvailable') }}
    </div>
    <!-- As soon as we have at least one entry in our temporary playlist
            we can display a table with all the info and action buttons -->
    <div v-else>
      <b-table
        ref="playlistEditTable"
        striped
        :items="playlistEditor.entries"
        :fields="playlistEditTableFields"
      >
        <!-- Column: Index
                             Here we just use the array index, because the playlist entries
                             are ordered as an array, without the need for an extra id field
                        -->
        <template #cell(id)="data"> {{ data.index + 1 }}. </template>

        <!-- Column: Type
                             Based on the entry content (either file or uri), we display
                             a small badge indicating which type of source this is
                        -->
        <template #cell(type)="data">
          <b-badge v-if="data.item.file" variant="primary">
            {{ $t('playlistEditor.types.file') }}
          </b-badge>
          <b-badge v-else-if="data.item.uri.startsWith('line://')" variant="primary">
            {{ $t('playlistEditor.types.lineIn') }}
          </b-badge>
          <b-badge
            v-else-if="data.item.uri.startsWith('http://') || data.item.uri.startsWith('https://')"
            variant="primary"
          >
            {{ $t('playlistEditor.types.stream') }}
          </b-badge>
          <b-badge v-else variant="dark">
            {{ $t('playlistEditor.types.other') }}
          </b-badge>
        </template>

        <!-- Column: Source
                             Here we display where this playlist entry is coming from
                        -->
        <template #cell(source)="data">
          <span v-if="data.item.file">
            <span class="tw-font-bold">{{
              getFileTitleForPlaylist(data.item.file.show, data.item.file.id)
            }}</span
            ><br />
            <span class="tw-text-gray-700"
              >(file://{{ data.item.file.show }}/{{ data.item.file.id }})</span
            >
          </span>

          <span v-else>
            {{ data.item.uri }}
          </span>
        </template>

        <!-- Column: Duration
                             Here we give the user the ability to edit the duration of an entry.
                        -->
        <template #cell(duration)="data">
          <span v-if="playlistEditor.durationField === data.index">
            <input
              ref="durationField"
              v-model="playlistEditor.newDuration"
              type="text"
              class="tw-w-24"
              placeholder="hh:mm:ss"
              pattern="\d{2}:\d{2}(:\d{2})?"
              @blur="checkAndUpdateDuration"
            />
          </span>

          <span v-else-if="data.item.file">
            {{ secondsToDurationString(getFileById(data.item.file.id).duration) }}
          </span>

          <span
            v-else-if="data.item.duration"
            v-b-tooltip="'Klicken um zu bearbeiten'"
            class="tw-underline hover:tw-no-underline tw-cursor-pointer"
            @click="toggleDurationField(data.index)"
          >
            {{ secondsToDurationString(data.item.duration) }}
          </span>

          <span v-else>
            <span
              v-b-tooltip="'Klicken um zu bearbeiten'"
              class="tw-text-gray-700 tw-underline hover:tw-no-underline tw-cursor-pointer"
              @click="toggleDurationField(data.index)"
            >
              {{ $t('playlistEditor.unknownDuration') }}
            </span>
          </span>
        </template>

        <!-- Column: Actions
                             Finally some buttons to reorder or delete playlist entries
                        -->
        <template #cell(actions)="data">
          <b-button-group size="sm">
            <b-button :disabled="data.index === 0" @click="movePlaylistItemUp(data.index)">
              <b class="upDownArrows">&uarr;</b>
            </b-button>
            <b-button
              :disabled="data.index === playlistEditor.entries.length - 1"
              @click="movePlaylistItemDown(data.index)"
            >
              <b class="upDownArrows">&darr;</b>
            </b-button>

            <b-button variant="danger" @click="deletePlaylistItem(data.index)">
              {{ $t('delete') }}
            </b-button>
          </b-button-group>
        </template>
      </b-table>

      <hr />

      <p class="d-flex justify-content-between border-t">
        <span class="font-weight-bold">{{ $t('playlistTable.entries') }}</span>
        <span>{{ $t('playlistTable.duration') }}: {{ playlistDuration }}</span>
      </p>

      <hr />

      <div v-if="playlistExceedsAllowedUnknowns" class="tw-text-red-600 tw-my-4">
        {{ $t('playlistEditor.tooManyUnknowns') }}
      </div>
    </div>

    <!-- Below the table with the playlists entry we display buttons to
            add new entries to the table - these can either be files from our
            uploaded/imported files, or one of the preconfigured inputs, or a
            stream.
            TODO: should we disable choosing files that are still being imported?
            TODO: make the inputs configurable
            -->
    <b-modal
      id="modal-edit-playlist-add-stream"
      :title="$t('playlistEditor.addStream')"
      :cancel-title="$t('cancel')"
      @ok="addPlaylistItemStream('save')"
    >
      <b-input v-model="playlistEditor.newStreamURL" type="url" />
    </b-modal>

    <div class="tw-flex tw-justify-between">
      <b-button-group>
        <b-dropdown :text="$t('playlistEditor.types.file')">
          <b-dropdown-item
            v-for="(file, index) in files"
            :key="index"
            @click="addPlaylistItemFile(file.show, file.id)"
          >
            {{ file.id }}: {{ file.metadata.title ? file.metadata.title : '' }} ({{
              formatSeconds(file.duration)
            }}, {{ prettyFileSize(file.size) }}, {{ file.source.uri }})
          </b-dropdown-item>
        </b-dropdown>
        <b-dropdown :text="$t('playlistEditor.types.lineIn')">
          <b-dropdown-item @click="addPlaylistItemLine('0')">
            {{ $t('playlistEditor.lineIns.studio1') }}
          </b-dropdown-item>

          <b-dropdown-item @click="addPlaylistItemLine('1')">
            {{ $t('playlistEditor.lineIns.preProd') }}
          </b-dropdown-item>

          <b-dropdown-item @click="addPlaylistItemLine('2')">
            {{ $t('playlistEditor.lineIns.line2') }}
          </b-dropdown-item>
        </b-dropdown>
        <b-button @click="addPlaylistItemStream('openModal')">
          {{ $t('playlistEditor.types.stream') }}
        </b-button>
      </b-button-group>

      <b-button variant="success" :disabled="playlistExceedsAllowedUnknowns" @click="storePlaylist">
        {{ $t('save') }}
      </b-button>
    </div>
  </b-container>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import prettyDate from '@/mixins/prettyDate'
import { filesize } from 'filesize'
import { sanitizeHTML, secondsToDurationString } from '../util'

export default {
  mixins: [prettyDate],
  props: {
    id: {
      type: [Number, Boolean],
      default: false,
    },
  },

  // include the modal for displaying file import logs
  data() {
    return {
      // for adding and editing the playlists we need some temporary storage
      playlistEditor: {
        id: null,
        mode: 'edit', // should be either 'add' or 'edit'
        description: '',
        entries: [],
        newStreamURL: null,
        durationField: false,
        newDuration: '',
      },
    }
  },

  computed: {
    // configuration of the playlists entries table
    playlistEditTableFields() {
      return [
        { key: 'id', label: this.$t('playlistTable.index'), class: 'align-middle' },
        { key: 'type', label: this.$t('playlistTable.type'), class: 'align-middle' },
        { key: 'source', label: this.$t('playlistTable.source'), class: 'align-middle' },
        { key: 'duration', label: this.$t('playlistTable.duration'), class: 'align-middle' },
        {
          key: 'actions',
          label: this.$t('playlistTable.actions'),
          class: 'text-right align-middle',
        },
      ]
    },

    loaded() {
      return {
        playlists: this.$store.state.playlists.loaded.playlists,
      }
    },

    playlistExceedsAllowedUnknowns() {
      if (!this.playlistEditor.entries) {
        return 0
      }

      const unknowns = this.playlistEditor.entries.filter((entry) => {
        if (entry.file) {
          return !this.getFileById(entry.file.id).duration
        }

        return !entry.duration
      })

      return unknowns.length > 1
    },

    playlistDuration() {
      if (!this.playlistEditor.entries) {
        return 0
      }

      const totalDuration = this.playlistEditor.entries.reduce((acc, entry) => {
        const newDuration = entry.file
          ? acc + this.getFileById(entry.file.id).duration
          : acc + entry.duration

        return Number.isNaN(newDuration) ? acc : newDuration
      }, 0)

      return this.formatSeconds(totalDuration)
    },

    ...mapGetters({
      selectedShow: 'shows/selectedShow',
      getPlaylistById: 'playlists/getPlaylistById',
      files: 'files/files',
      getFileById: 'files/getFileById',
    }),
  },

  created() {
    this.id ? this.editPlaylist() : this.addPlaylist()
  },

  methods: {
    secondsToDurationString,
    sanitizeHTML,
    // Checks if the duration entered is in a valid format and updates the corresponding
    // entrys data in the playlist.
    checkAndUpdateDuration() {
      const entryIndex = this.playlistEditor.durationField
      const entry = this.playlistEditor.entries[entryIndex]
      const duration = this.playlistEditor.newDuration

      this.$refs.durationField.setCustomValidity('')

      // Setting an empty string is okay.
      if (!duration) {
        this.playlistEditor.durationField = false
        this.playlistEditor.newDuration = ''

        Vue.delete(this.playlistEditor.entries[entryIndex], 'duration')
        return
      }

      if (!this.$refs.durationField.checkValidity()) {
        this.$refs.durationField.setCustomValidity(this.$t('playlistEditor.invalidDurationFormat'))
        this.$refs.durationField.reportValidity()
        return
      }

      Vue.set(entry, 'duration', this.hmsToSeconds(duration))
      Vue.set(this.playlistEditor.entries, entryIndex, entry)

      this.playlistEditor.durationField = false
      this.playlistEditor.newDuration = ''
    },

    // Toggles an editable duration field for adding durations to streams and line-ins.
    toggleDurationField(id = false) {
      const entry = this.playlistEditor.entries[id]

      if (entry && entry.duration) {
        this.playlistEditor.newDuration = this.formatSeconds(entry.duration)
      }

      this.playlistEditor.durationField = id
      this.$nextTick(() => this.$refs.durationField.focus())
    },

    // We want to have a nice format for the file size, given a size in Bytes.
    // For that we're useing the filesize npm module.
    prettyFileSize: function (s) {
      return filesize(s)
    },

    // return a string representing a file entry for the playlist editor
    getFileTitleForPlaylist(show, id) {
      // TODO: change structure of files array, so we can access all shows
      // the user has access to.
      const file = this.getFileById(id)
      if (file && file.metadata.title) {
        return show + ': ' + file.metadata.title
      } else {
        return ''
      }
    },

    movePlaylistItemUp(index) {
      if (index > 0 && index < this.playlistEditor.entries.length) {
        const temp = this.playlistEditor.entries[index - 1]
        this.playlistEditor.entries[index - 1] = this.playlistEditor.entries[index]
        this.playlistEditor.entries[index] = temp
        this.$refs.playlistEditTable.refresh()
      }
    },

    movePlaylistItemDown(index) {
      if (index < this.playlistEditor.entries.length - 1 && index >= 0) {
        const temp = this.playlistEditor.entries[index + 1]
        this.playlistEditor.entries[index + 1] = this.playlistEditor.entries[index]
        this.playlistEditor.entries[index] = temp
        this.$refs.playlistEditTable.refresh()
      }
    },

    deletePlaylistItem(index) {
      if (index >= 0 && index < this.playlistEditor.entries.length) {
        this.playlistEditor.entries.splice(index, 1)
        this.$refs.playlistEditTable.refresh()
      }
    },

    // add a file from the file manager to the playlist that is being edited
    addPlaylistItemFile(show, id) {
      const item = {}
      item.file = { show: show, id: id }
      this.playlistEditor.entries.push(item)
    },

    // add a line input to the playlist that is being edited
    addPlaylistItemLine(line) {
      this.playlistEditor.entries.push({ uri: 'line://' + line })
    },

    // controls sub-modal to add a new URI to the playlist editor
    addPlaylistItemStream(action) {
      if (action === 'openModal') {
        // the function gets called with the action 'openModal' when the users
        // clicks on the add new stream button. then we clear all temp data and
        // open the modal
        this.playlistEditor.newStreamURL = ''
        this.$bvModal.show('modal-edit-playlist-add-stream')
      } else {
        // when the user hits ok to add the new uri, this function gets called
        // with the action 'save' and the modal closes automagically. so we
        // just have to push a new entry to the playlist in the editor
        if (this.playlistEditor.newStreamURL.trim().length > 0) {
          this.playlistEditor.entries.push({ uri: this.playlistEditor.newStreamURL })
        }
        // if an empty string was provided, we just do nothing
      }
    },

    addPlaylist() {
      this.playlistEditor.mode = 'add'
      this.playlistEditor.id = null
      this.playlistEditor.description = ''
      this.playlistEditor.entries = []
      this.$bvModal.show('modal-edit-playlist')
    },

    editPlaylist() {
      const playlist = this.getPlaylistById(this.id)

      if (!playlist) {
        this.$router.push({ name: 'addPlaylist' })
        return
      }

      this.playlistEditor.mode = 'edit'
      this.playlistEditor.entries = []
      this.playlistEditor.id = this.id
      this.playlistEditor.description = playlist.description

      for (const i in playlist.entries) {
        const entry = {}
        if (playlist.entries[i].file) {
          entry.file = {}
          entry.file.show = playlist.entries[i].file.show
          entry.file.id = playlist.entries[i].file.id
        } else {
          entry.uri = playlist.entries[i].uri
          entry.duration = playlist.entries[i].duration
        }
        this.playlistEditor.entries.push(entry)
      }
      this.$bvModal.show('modal-edit-playlist')
    },

    storePlaylist() {
      const playlist = {
        description: this.playlistEditor.description,
        entries: this.playlistEditor.entries,
      }

      if (this.playlistEditor.mode === 'add') {
        this.$store.dispatch('playlists/add', {
          showSlug: this.selectedShow.slug,
          playlist: playlist,
          callback: () => {
            this.$root.$emit('bv::refresh::table', 'playlistsTable')
            this.$router.push('/files')
            this.$toast.success(this.$t('playlistEditor.saved'))
          },
        })
      } else if (this.playlistEditor.mode === 'edit') {
        this.$store.dispatch('playlists/update', {
          showSlug: this.selectedShow.slug,
          playlistId: this.playlistEditor.id,
          playlist: playlist,
          callback: () => {
            this.$root.$emit('bv::refresh::table', 'playlistsTable')
            this.$router.push('/files')
            this.$toast.success(this.$t('playlistEditor.saved'))
          },
        })
      }
    },
  },
}
</script>
