<template>
  <b-container>
    <h1>{{ t('credits.title') }}</h1>
    <p>{{ t('credits.intro') }}<br /></p>
    <ul>
      <li>
        Andrea Ida Malkah Klaura
        <a href="https://gitlab.servus.at/jackie">@jackie</a>
        <b-badge variant="primary"> dashboard </b-badge>
        <b-badge>oidc</b-badge>
      </li>
      <li>
        Christian Pointner
        <a href="https://gitlab.servus.at/equinox">@equinox</a>
        <b-badge variant="danger"> tank </b-badge>
        <b-badge>oidc</b-badge>
      </li>
      <li>
        David Trattnig
        <a href="https://gitlab.servus.at/david">@david</a>
        <b-badge variant="success"> engine </b-badge>
      </li>
      <li>
        Ernesto Rico Schmidt
        <a href="https://gitlab.servus.at/nnrcschmdt">@nnrcschmdt</a>
        <b-badge variant="warning"> steering </b-badge>
      </li>
      <li>
        Gottfried Gaisbauer
        <a href="https://gitlab.servus.at/gg">@gg</a>
        <b-badge variant="success"> engine </b-badge>
      </li>
      <li>
        Ingo Leindecker
        <a href="https://gitlab.servus.at/ingo">@ingo</a>
        <b-badge variant="warning"> steering </b-badge>
        <b-badge>oidc</b-badge>
      </li>
      <li>
        Martin Lasinger
        <b-badge>gfx</b-badge>
      </li>
      <li>
        Richard Blechinger
        <a href="https://gitlab.servus.at/pretzelhands">@pretzelhands</a>
        <b-badge variant="primary"> dashboard </b-badge>
      </li>
    </ul>
    <p>
      <b>{{ t('credits.graphicsIcons') }}</b
      ><br />
    </p>
    <ul>
      <li>
        {{ t('credits.loadingIcon') }}:
        <a href="https://loading.io/spinner">spinner by loading.io</a> (CC-BY License).
      </li>
      <li>
        {{ t('credits.otherIcons') }}:
        <a href="http://tango.freedesktop.org/">Tango Project</a> (Public Domain),
        <a href="https://bootstrap-vue.org/docs/icons">BootstrapVue</a> (MIT).
      </li>
    </ul>
    <p v-html="t('credits.moreInfo')" />
  </b-container>
</template>

<script setup>
import { useI18n } from '@/i18n'

const { t } = useI18n()
</script>

<style scoped>
p {
  text-align: left;
}

.badge {
  margin-left: 0.25rem;
}
</style>
