<template>
  <b-container align="center">
    <h1>{{ t('help.title') }}</h1>
    <br /><br />
    <div style="border: 5px dotted #5c3566">
      <br /><br />
      {{ t('unimplemented') }}
      <p>
        {{ t('help.generalDocumentation') }}
        <a href="https://docs.aura.radio">https://docs.aura.radio</a>
      </p>
      <br />
    </div>
  </b-container>
</template>

<script setup>
import { useI18n } from '@/i18n'
const { t } = useI18n()
</script>
