<template>
  <Splash class="tw-flex tw-items-center tw-justify-center tw-h-[100dvh]">
    <main
      :key="locale"
      class="tw-bg-white/100 tw-text-inherit tw-shadow-xl tw-rounded tw-p-9"
      style="width: min(420px, 90dvw); backdrop-filter: blur(10px)"
    >
      <header class="tw-mb-9 tw-flex tw-flex-col tw-justify-center">
        <div class="tw-flex tw-items-center tw-justify-between tw-gap-6 tw-mb-6">
          <Logo class="tw-w-1/2 tw-h-auto tw-flex-none" />

          <div class="tw-relative tw-shrink tw-min-w-0 tw-flex">
            <icon-fa-language
              class="tw-absolute tw-top-0 tw-bottom-0 tw-my-auto tw-left-2 tw-pointer-events-none"
              role="presentation"
            />
            <select
              v-model="locale"
              class="tw-py-2 tw-pl-9 tw-pr-2 btn btn-default tw-text-left tw-min-w-0"
              :aria-label="t('languageSelector.label')"
            >
              <option v-for="_locale in availableLocales" :key="_locale" :value="_locale">
                {{ getLanguageName(_locale) }}
              </option>
            </select>
          </div>
        </div>

        <p class="tw-text-sm tw-m-0 tw-hyphens-auto tw-text-justify">
          {{ t('loginScreen.intro') }}
        </p>
      </header>

      <p v-if="authStore.sessionInitializationState" class="tw-text-lg tw-font-bold tw-text-center">
        {{ t(`sessionInitialization.${authStore.sessionInitializationState}`) }}<Dots />
      </p>

      <button
        v-else
        type="button"
        class="btn btn-default tw-bg-[--text-color] tw-text-white tw-font-bold tw-h-16 tw-w-full tw-text-lg tw-leading-none"
        data-testid="login-button"
        @click="loginRedirect"
      >
        <span class="tw-inline-flex tw-items-center tw-gap-2 tw-mx-auto">
          {{ t('auth.signIn') }}
        </span>
      </button>
    </main>
  </Splash>
</template>
<script setup lang="ts">
import Logo from '../../public/assets/logo.svg?component'
import { loginRedirect } from '@/oidc'
import Dots from '@/components/generic/Dots.vue'
import { useAuthStore } from '@/stores'
import { getLanguageName, useI18n } from '@/i18n'
import Splash from '@/components/Splash.vue'

const { availableLocales, locale, t } = useI18n()
const authStore = useAuthStore()
</script>
