<template>
  <auth-wall>
    <b-container align="center">
      <h1>Dashboard Settings</h1>
      <br /><br />
      <div style="border: 5px dotted #5c3566">
        <br /><br />
        {{ t('unimplemented') }}
        <br /><br />
      </div>
    </b-container>
  </auth-wall>
</template>

<script setup>
import AuthWall from '@/components/AuthWall.vue'
import { useI18n } from '@/i18n'

const { t } = useI18n()
</script>
