<template>
  <router-view v-if="show" :show="show" />
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router'
import { useObjectFromStore } from '@rokoli/bnb/drf'
import { useShowStore } from '@/stores/shows'

const route = useRoute()
const showStore = useShowStore()
const { obj: show } = useObjectFromStore(() => parseInt(route.params.showId as string), showStore)
</script>
