<template>
  <div>
    <PageHeader :lead="lead" :title="title" :editing-metadata="note" />

    <ASection :title="t('noteEditor._title')">
      <NoteDescriptionEditor :note="note" :timeslot="timeslot" :show="show" />
    </ASection>

    <ASection :title="t('playlist.editor.title')" class="tw-mt-12 tw-max-w-3xl">
      <template #header>
        <label
          v-if="playlist && playlist.entries.length > 0"
          class="btn btn-sm tw-gap-2 -tw-ml-4"
          :aria-disabled="playlist.entries.length > 1"
        >
          <input
            v-model="usePlaylistEditorExpertMode"
            type="checkbox"
            :disabled="playlist.entries.length > 1"
          />
          {{ t('playlist.editor.expertMode') }}
        </label>
      </template>

      <APlaylistEditor
        :playlist="playlist"
        :required-duration-seconds="calculateDurationSeconds(timeslot.start, timeslot.end)"
        :show="show"
        :use-expert-mode="usePlaylistEditorExpertMode"
        class="tw-max-w-3xl"
        @create="assignPlaylistToTimeslot"
      />
    </ASection>

    <hr />

    <p class="tw-text-sm">
      <ATimeEditInfo
        v-if="note.updatedAt"
        :edit-info="{ time: note.updatedAt, author: note.updatedBy }"
        type="modified"
      />
      <br />
      <ATimeEditInfo :edit-info="{ time: note.createdAt, author: note.createdBy }" type="created" />
    </p>
  </div>
</template>
<script setup lang="ts">
import { computed, ref, watch } from 'vue'
import { useI18n } from '@/i18n'
import { useTimeSlotStore } from '@/stores'
import { useBreadcrumbs } from '@/stores/nav'
import { Note, Playlist, Show, TimeSlot } from '@/types'
import { calculateDurationSeconds, ensureDate } from '@/util'
import PageHeader from '@/components/PageHeader.vue'
import NoteDescriptionEditor from '@/components/shows/NoteDescriptionEditor.vue'
import ASection from '@/components/generic/ASection.vue'
import ATimeEditInfo from '@/components/generic/ATimeEditInfo.vue'
import APlaylistEditor from '@/components/playlist/APlaylistEditor.vue'

const props = defineProps<{
  show: Show
  timeslot: TimeSlot
  note: Note
  playlist: Playlist | null
}>()

const { t, locale } = useI18n()
const timeslotStore = useTimeSlotStore()

const usePlaylistEditorExpertMode = ref(false)

const lead = computed(() => {
  const noteTitle = props.note?.title
  return noteTitle ? `${props.show.name}: ${noteTitle}` : props.show.name
})
const title = computed(() => {
  const start = ensureDate(props.timeslot.start).toLocaleString(locale.value, {
    dateStyle: 'medium',
    timeStyle: 'short',
  })
  return t('showEpisode.title', { start })
})

async function assignPlaylistToTimeslot(playlist: Playlist) {
  await timeslotStore.partialUpdate(props.timeslot.id, { playlistId: playlist.id })
}

watch(
  () => props.playlist?.entries?.length ?? 0,
  (numPlaylistEntries) => {
    if (numPlaylistEntries > 1) usePlaylistEditorExpertMode.value = true
  },
  { immediate: true },
)

useBreadcrumbs(() => [
  { title: t('navigation.shows'), route: { name: 'shows' } },
  { title: props.show.name, route: { name: 'show', params: { showId: props.show.id.toString() } } },
  {
    title: t('navigation.show.episodes'),
    route: { name: 'show-episodes', params: { showId: props.show.id.toString() } },
  },
  title.value,
])
</script>
