<template>
  <AEditDialog
    ref="dialog"
    :title="t('playlist.editor.importFileDialog.title')"
    :save-label="t('playlist.editor.importFileDialog.saveLabel')"
    :can-save="canSave"
    :save="() => emit('save', url)"
  >
    <FormTable>
      <FormGroup v-slot="attrs" :label="t('file.url')" center>
        <input ref="inputEl" v-bind="attrs" v-model="url" type="url" />
      </FormGroup>
    </FormTable>
  </AEditDialog>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'

import { useI18n } from '@/i18n'
import FormGroup from '@/components/generic/FormGroup.vue'
import FormTable from '@/components/generic/FormTable.vue'
import AEditDialog from '@/components/generic/AEditDialog.vue'

const emit = defineEmits<{
  save: [string]
}>()

const { t } = useI18n()
const dialog = ref()
const inputEl = ref<HTMLInputElement>()
const url = ref('')
const canSave = computed(() => url.value.trim() !== '' && inputEl.value?.checkValidity?.() === true)

onMounted(() => dialog.value.open())
</script>
