<template>
  <ADialog ref="dialog" v-model="isOpen" :title="t('file.importLog.title')" is-modal>
    <template v-if="isOpen">
      <template v-for="(log, key) in logs" :key="key">
        <template v-if="log.length > 0">
          <div class="log tw-mb-12 last:tw-mb-0">
            <span class="tw-col-span-2" />
            <span class="tw-text-gray-500">{{
              t('file.importLog.start', {
                time: log[0].time.toLocaleString(locale),
                title: t(`file.importLog.type.${key}`),
              })
            }}</span>
            <template v-for="(line, index) in log" :key="index">
              <span class="line-number">{{ index + 1 }}</span>
              <span class="time">{{ line.time.toLocaleTimeString(locale) }}</span>
              <span :class="line.stream">{{ line.content }}</span>
            </template>
          </div>
        </template>
      </template>
    </template>
  </ADialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from '@/i18n'
import { useFileImportLogs } from '@/stores/files'
import { File as TankFile } from '@/types'
import ADialog from '@/components/generic/ADialog.vue'

const props = defineProps<{
  fileId: TankFile['id']
}>()

const isOpen = ref(false)
const dialog = ref()
const { locale, t } = useI18n()
const { logs, fetchLogs } = useFileImportLogs(() => props.fileId)

defineExpose({
  open: () => {
    void fetchLogs()
    isOpen.value = true
  },
  close: () => (isOpen.value = false),
})
</script>

<style lang="postcss" scoped>
.log {
  @apply tw-grid tw-bg-neutral-900 tw-p-2 tw-rounded tw-font-mono tw-whitespace-pre-wrap tw-text-sm;
  grid-template-columns: min-content min-content minmax(0, 1fr);

  & > * {
    @apply tw-px-2;
  }
}

.line-number {
  @apply tw-text-emerald-500 tw-text-right;
}

.time {
  @apply tw-text-gray-400;
}

.stdout,
.stderr {
  color: #f8f8f2;
}
</style>
