<template>
  <AEditDialog
    ref="dialog"
    :title="t('playlist.editor.addInputDialog.title')"
    :save-label="t('playlist.editor.addInputDialog.saveLabel')"
    :save="() => emit('save', selectedInput)"
    class="tw-w-min"
  >
    <div class="tw-flex tw-flex-col tw-gap-2 tw-w-96">
      <template v-for="input in playout.inputs" :key="input.uri">
        <label
          class="tw-border-2 tw-border-solid tw-border-gray-100 tw-rounded tw-gap-3 tw-p-3 tw-flex tw-items-baseline tw-m-0 tw-cursor-pointer tw-transition-colors hover:tw-border-aura-primary focus-within:tw-border-aura-primary"
        >
          <span>
            <input
              v-model="selectedInput"
              :value="input.uri"
              type="radio"
              name="input"
              class="tw-outline-none"
            />
          </span>
          <span>
            <strong class="tw-font-normal">{{ input.label }}</strong>
            <span v-if="input.description" class="tw-text-sm tw-text-gray-500">
              {{ input.description }}
            </span>
          </span>
        </label>
      </template>
    </div>
  </AEditDialog>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { useI18n } from '@/i18n'
import { usePlayoutStore } from '@/stores'
import AEditDialog from '@/components/generic/AEditDialog.vue'

const emit = defineEmits<{
  save: [string]
}>()

const { t } = useI18n()
const playout = usePlayoutStore()

const selectedInput = ref(playout.inputs[0].uri)
const dialog = ref()

onMounted(() => dialog.value.open())
</script>
