<template>
  <div v-if="playlistState.state !== 'ok' && playlistState.state !== 'missing'">
    <AAlert :title="t(`playlist.state.${playlistState.state}.title`)" is-warning>
      <SafeHTML
        sanitize-preset="inline-noninteractive"
        :html="t(`playlist.state.${playlistState.state}.description`, { totalTime, offset })"
      />
    </AAlert>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue'

import { useI18n } from '@/i18n'
import { usePlaylistState } from '@/stores/playlists'
import { Playlist } from '@/types'
import { secondsToDurationString } from '@/util'
import AAlert from '@/components/generic/AAlert.vue'
import SafeHTML from '@/components/generic/SafeHTML'

const props = defineProps<{
  requiredDurationSeconds: number
  playlist: Playlist
}>()

const { t } = useI18n()

const totalTime = computed(() => secondsToDurationString(props.requiredDurationSeconds))
const playlistState = usePlaylistState(() => props.playlist, props.requiredDurationSeconds)
const offset = computed(() => secondsToDurationString(playlistState.value?.offset ?? 0))
</script>
