<template>
  <component :is="as" class="tw-bg-gray-50 tw-p-3 tw-rounded tw-flex tw-gap-2 tw-items-center">
    <div>
      <icon-system-uicons-drag-vertical
        v-if="dragHandle"
        class="tw-flex-none tw-mr-2 tw-cursor-grab"
        data-drag-handle
      />
    </div>

    <span class="tw-flex tw-gap-2 tw-items-center">
      <template v-if="type === 'line'">
        <icon-game-icons-jack-plug class="tw-flex-none" />
        <template v-if="input">{{ input.label }}</template>
        <template v-else>{{ t('input.unknown') }}</template>
      </template>
      <template v-else-if="type === 'file'">
        <icon-iconamoon-file-audio-thin class="tw-flex-none" />
        <span class="tw-truncate">
          {{ file?.metadata?.title ?? t('file.unnamed') }}
        </span>
        <span
          v-if="artistInfo"
          class="tw-group tw-block tw-flex-none tw-relative tw-text-sm tw-outline-none"
          tabindex="0"
        >
          <span
            class="tw-rounded-full tw-px-3 tw-py-1 tw-border tw-border-solid tw-border-black/10 tw-inline-flex tw-items-center tw-gap-2 tw-cursor-help group-hocus:tw-bg-indigo-100 group-hocus:tw-ring-2"
          >
            <icon-iconamoon-music-artist-thin />
            {{ t('file.metadata._title') }}
          </span>

          <SafeHTML
            :html="artistInfo"
            sanitize-preset="inline-noninteractive"
            class="tw-absolute tw-top-full tw-left-0 tw-mt-1 tw-p-3 tw-rounded tw-bg-white tw-shadow-xl tw-z-10 tw-pointer-events-none tw-transition-all tw-opacity-0 -tw-translate-y-1 group-hocus:tw-opacity-100 group-hocus:tw-translate-y-0"
          />
        </span>
      </template>
      <template v-else-if="['http', 'https'].includes(type)">
        <icon-solar-play-stream-bold class="tw-flex-none" />
        <span class="tw-truncate">
          {{ entry.uri }}
        </span>
      </template>
    </span>

    <span class="tw-ml-auto">
      <template v-if="typeof entry.duration === 'number'">
        {{ secondsToDurationString(entry.duration) }}
      </template>
      <AStatus v-else class="tw-text-xs" rounded is-warning>
        {{ t('file.durationUnknown') }}
      </AStatus>
    </span>

    <div>
      <button
        v-if="canEdit"
        type="button"
        class="btn btn-default btn-sm tw-p-1 tw-rounded-full"
        @click="editDialog.open()"
      >
        <icon-system-uicons-pen />
      </button>
    </div>

    <AEditDialog
      v-if="canEdit"
      ref="editDialog"
      :title="t('playlist.editor.editPlaylistEntry')"
      :save="save"
      class="tw-w-[90vw] md:tw-w-min"
    >
      <FormTable>
        <template v-if="type === 'file'">
          <FormGroup v-slot="attrs" :label="t('file.metadata.title')" center>
            <input v-bind="attrs" v-model="title" type="text" autofocus />
          </FormGroup>
          <FormGroup v-slot="attrs" :label="t('file.metadata.artist')" center>
            <input v-bind="attrs" v-model="artist" type="text" />
          </FormGroup>
          <FormGroup v-slot="attrs" :label="t('file.metadata.album')" center>
            <input v-bind="attrs" v-model="album" type="text" />
          </FormGroup>
        </template>

        <FormGroup v-if="type !== 'file'" v-slot="attrs" :label="t('file.duration')" center>
          <input
            autofocus
            type="text"
            v-bind="attrs"
            :value="typeof duration === 'number' ? secondsToDurationString(duration) : ''"
            class="md:tw-max-w-[200px]"
            :placeholder="t('file.durationPlaceholder')"
            @blur="setDuration"
            @keydown.enter="setDuration"
          />
        </FormGroup>
      </FormTable>

      <template #footer-buttons-extra="{ isSaving }">
        <div class="tw-ml-auto">
          <button
            type="button"
            class="btn btn-danger tw-ml-3 md:tw-ml-12"
            :disabled="isSaving"
            @click="emit('delete')"
          >
            <icon-system-uicons-trash />
            <span class="tw-hidden md:tw-block tw-whitespace-nowrap">
              {{ t('playlist.editor.deletePlaylistEntry') }}
            </span>
          </button>
        </div>
      </template>

      <template v-if="fileImportLogDialog" #header-extra>
        <button
          type="button"
          class="tw-mx-3 btn btn-sm btn-default"
          @click="fileImportLogDialog.open()"
        >
          <icon-system-uicons-terminal class="tw-mt-0.5" />
          <span class="tw-hidden md:tw-block">{{ t('file.importLog.showImportLog') }}</span>
        </button>
      </template>
    </AEditDialog>

    <AFileImportLog v-if="entry.file?.id" ref="fileImportLogDialog" :file-id="entry.file.id" />
  </component>
</template>

<script lang="ts" setup>
import { useObjectFromStore } from '@rokoli/bnb/drf'
import { computed, ref } from 'vue'

import { useCopy } from '@/form'
import { useI18n } from '@/i18n'
import { useFilesStore } from '@/stores'
import { useInput } from '@/stores/playout'
import { FileMetadata, PlaylistEntry } from '@/types'
import { parseTime, secondsToDurationString } from '@/util'
import SafeHTML from '@/components/generic/SafeHTML'
import AEditDialog from '@/components/generic/AEditDialog.vue'
import FormTable from '@/components/generic/FormTable.vue'
import FormGroup from '@/components/generic/FormGroup.vue'
import AFileImportLog from '@/components/playlist/AFileImportLog.vue'
import AStatus from '@/components/generic/AStatus.vue'

const entry = defineModel<Partial<PlaylistEntry>>('entry', { required: true })
withDefaults(
  defineProps<{
    dragHandle?: boolean
    canEdit?: boolean
    as?: string
  }>(),
  {
    as: 'div',
    canEdit: true,
    dragHandle: false,
  },
)
const emit = defineEmits<{ delete: [] }>()

const fileStore = useFilesStore()
const { t } = useI18n()
const editDialog = ref()
const fileImportLogDialog = ref()

const { obj: file } = useObjectFromStore(() => entry.value?.file?.id ?? null, fileStore)
const title = useCopy(() => file.value?.metadata?.title)
const artist = useCopy(() => file.value?.metadata?.artist)
const album = useCopy(() => file.value?.metadata?.album)
const duration = useCopy(() => entry.value?.duration)
const uri = computed(() => new URL(entry.value.uri as string))
const type = computed(() => uri.value.protocol.replace(':', ''))
const input = useInput(() => entry.value.uri ?? '')
const artistInfo = computed(() => {
  const metadata = file.value?.metadata
  const artist = metadata?.artist ?? ''
  const album = metadata?.album ?? ''
  if (artist && album) {
    return t('file.metadata.byArtistFromAlbum', { artist, album })
  } else if (artist) {
    return t('file.metadata.byArtist', { artist })
  } else if (album) {
    return t('file.metadata.fromAlbum', { album })
  } else {
    return ''
  }
})

function setDuration(event: Event) {
  const value = (event.target as HTMLInputElement).value
  // A duration of zero should be treated as undefined so that the
  // default playout behaviour for non-fixed-lengths entries can take over.
  duration.value = parseTime(value) || undefined
}

async function save() {
  if (duration.value !== entry.value.duration) {
    entry.value = { ...entry.value, duration: duration.value }
  }

  if (file.value) {
    const metadata = file.value.metadata
    const updateMetadata: Partial<FileMetadata> = {}
    if (artist.value !== metadata?.artist) updateMetadata.artist = artist.value
    if (album.value !== metadata?.album) updateMetadata.album = album.value
    if (title.value !== metadata?.title) updateMetadata.title = title.value
    if (Object.keys(updateMetadata).length > 0) {
      await fileStore.partialUpdate(file.value.id, updateMetadata)
    }
  }

  editDialog.value.close()
}
</script>
