<template>
  <component
    :is="entries.length === 1 ? 'div' : 'ol'"
    ref="playlistEntriesEl"
    class="tw-m-0 tw-p-0 tw-gap-1 playlist-entries"
  >
    <APlaylistEntryEditor
      v-for="(entry, index) in entries"
      :key="entry.uri"
      v-model:entry="entries[index]"
      :as="entries.length === 1 ? 'div' : 'li'"
      :drag-handle="entries.length === 1 ? false : canSort"
      :can-edit="canEdit"
      @delete="entries.splice(index, 1)"
    />
  </component>
</template>

<script lang="ts" setup>
import { useSortable } from '@vueuse/integrations/useSortable'
import { ref } from 'vue'

import { PlaylistEntry } from '@/types'
import APlaylistEntryEditor from '@/components/playlist/APlaylistEntryEditor.vue'

const entries = defineModel<Partial<PlaylistEntry>[]>('entries', { required: true })
const props = withDefaults(
  defineProps<{
    canSort?: boolean
    canEdit?: boolean
  }>(),
  {
    canSort: true,
    canEdit: true,
  },
)

const playlistEntriesEl = ref<HTMLOListElement>()
useSortable(playlistEntriesEl, entries, {
  animation: 200,
  ghostClass: 'playlist-entry-drag-ghost',
  handle: '[data-drag-handle]',
  disabled: !props.canSort,
})
</script>

<style lang="postcss" scoped>
.playlist-entries {
  display: grid;
  grid-template-columns: min-content minmax(100px, 1fr) max-content;

  & > * {
    display: grid !important;
    grid-template-columns: subgrid;
    grid-column: 1 / span 4;
  }
}
</style>

<style lang="postcss">
.playlist-entry-drag-ghost {
  @apply tw-rounded tw-opacity-40 tw-border-2 tw-border-solid tw-border-aura-primary;
}
</style>
