<template>
  <component
    :is="as"
    class="tw-bg-emerald-100 tw-rounded-full tw-m-0 tw-pl-4 tw-pr-1 tw-py-1 tw-w-fit tw-flex tw-items-center tw-gap-3"
  >
    <span class="tw-truncate tw-leading-none">
      <span class="tw-block tw-text-sm tw-text-black/75 tw-font-medium">{{ name }}</span>
      <span class="tw-block tw-text-xs tw-text-black/75">
        {{ t(`playlist.editor.upload.step.${importProgress?.step ?? 'unknown'}`) }}<Dots />
      </span>
    </span>

    <ACircularProgress
      :progress="progress"
      class="tw-w-8 tw-h-8 tw-flex-none tw-text-emerald-600"
      :aria-label="t('file.uploadProgress')"
    />
  </component>
</template>

<script setup lang="ts">
import { computed } from 'vue'

import { useI18n } from '@/i18n'
import { useFileUploadProgress } from '@/stores/files'
import { File as TankFile } from '@/types'
import ACircularProgress from '@/components/generic/ACircularProgress.vue'
import Dots from '@/components/generic/Dots.vue'

const props = withDefaults(
  defineProps<{
    as?: string
    fileId: TankFile['id']
    name: string
  }>(),
  { as: 'p' },
)

const { t } = useI18n()
const importProgress = useFileUploadProgress(() => props.fileId)
const progress = computed(() => importProgress.value?.progress || 'indeterminate')
</script>
