<template>
  <div v-if="errors.length > 0">
    <b-alert
      v-for="error in translatedServerErrors"
      :key="error.code"
      variant="danger"
      :show="true"
    >
      {{ error.message }}
    </b-alert>
  </div>
</template>

<script>
export default {
  props: {
    errors: {
      type: Array,
      required: true,
    },
    translationBase: {
      type: String,
      default: 'steeringErrorCodes',
    },
  },
  computed: {
    translatedServerErrors() {
      return this.errors.map(({ code, message }) => {
        const translationKey = `${this.translationBase}.${code}`
        return {
          code,
          message: this.$te(translationKey) ? this.$t(translationKey) : message,
        }
      })
    },
  },
}
</script>
