<template>
  <FormGroup :label="t('showMeta.email')" :errors="email.errors" :is-saving="email.isSaving">
    <template #default="attrs">
      <input v-model="email.value" type="email" v-bind="attrs" />
    </template>
  </FormGroup>

  <FormGroup :label="t('showMeta.type')" :errors="type.errors" :is-saving="type.isSaving">
    <template #default="attrs">
      <select v-model="type.valueId" v-bind="attrs">
        <option
          v-for="choice in type.choices"
          :key="choice.id"
          :value="choice.id"
          :label="choice.name"
          :disabled="!choice.isActive"
        />
      </select>
    </template>
  </FormGroup>

  <FormGroup
    :label="`${t('showMeta.fundingCategory')} ${t('showMeta.fundingCategoryRtr')}`"
    :errors="fundingCategory.errors"
    :is-saving="fundingCategory.isSaving"
  >
    <template #default="attrs">
      <select v-model="fundingCategory.valueId" v-bind="attrs">
        <option
          v-for="choice in fundingCategory.choices"
          :key="choice.id"
          :value="choice.id"
          :label="choice.name"
          :disabled="!choice.isActive"
        />
      </select>
    </template>
  </FormGroup>

  <FormGroup
    :label="t('showMeta.predecessor')"
    :errors="predecessor.errors"
    :is-saving="predecessor.isSaving"
  >
    <template #default="attrs">
      <select v-model="predecessor.valueId" v-bind="attrs">
        <option
          v-for="choice in predecessor.choices"
          :key="choice.id"
          :value="choice.id"
          :label="sanitizeHTML(choice.name)"
          :disabled="!choice.isActive"
        />
      </select>
    </template>
  </FormGroup>

  <FormGroup
    :label="t('showMeta.cbaSeriesId')"
    :errors="cbaSeriesId.errors"
    :is-saving="cbaSeriesId.isSaving"
  >
    <template #default="attrs">
      <input
        v-model="cbaSeriesId.value"
        type="text"
        inputmode="numeric"
        pattern="[0-9]+"
        v-bind="attrs"
      />
    </template>
  </FormGroup>

  <FormGroup
    :label="t('showMeta.defaultPlaylist')"
    :errors="defaultPlaylist.errors"
    :is-saving="defaultPlaylist.isSaving"
    with-edit-button
    @edit="openDefaultPlaylistSelectorModal"
  >
    <template v-if="defaultPlaylist.value">{{ defaultPlaylist.value.description }}</template>
    <template v-else>-</template>
  </FormGroup>

  <template v-if="authStore.isSuperuser">
    <hr class="tw-col-span-full tw-order-last tw-w-full" />
    <FormGroup
      :label="t('showMeta.internalNote')"
      :errors="internalNote.errors"
      class="md:tw-col-span-2 tw-order-last"
      :is-saving="internalNote.isSaving"
    >
      <template #default="attrs">
        <textarea
          ref="internalNoteEl"
          v-model="internalNote.value"
          class="tw-min-h-[100px]"
          v-bind="attrs"
        />
      </template>
    </FormGroup>
  </template>

  <Teleport to="body">
    <FallbackSelector ref="defaultPlaylistSelectorModal" :show="show" />
  </Teleport>
</template>

<script lang="ts" setup>
import { useTextareaAutosize } from '@vueuse/core'
import { computed, ref } from 'vue'

import { useI18n } from '@/i18n'
import {
  useShowStore,
  usePlaylistStore,
  useAuthStore,
  useFundingCategoryStore,
  useTypeStore,
} from '@/stores'
import { sanitizeHTML } from '@/util'
import FormGroup from '@/components/generic/FormGroup.vue'
import FallbackSelector from '@/components/shows/FallbackSelector.vue'
import { useAPIObjectFieldCopy, useRelation } from '@/form'
import { Show } from '@/types'

const props = defineProps<{
  show: Show
}>()

const { t } = useI18n()
const authStore = useAuthStore()
const fundingCategoryStore = useFundingCategoryStore()
const playlistStore = usePlaylistStore()
const showStore = useShowStore()
const typeStore = useTypeStore()
const show = () => props.show

const email = useAPIObjectFieldCopy(showStore, show, 'email')
const cbaSeriesId = useAPIObjectFieldCopy(showStore, show, 'cbaSeriesId')
const internalNote = useAPIObjectFieldCopy(showStore, show, 'internalNote')

const type = useRelation(showStore, show, 'typeId', typeStore)
const fundingCategory = useRelation(showStore, show, 'fundingCategoryId', fundingCategoryStore)
const predecessor = useRelation(showStore, show, 'predecessorId', showStore)

const defaultPlaylistSelectorModal = ref()
const defaultPlaylist = useRelation(showStore, show, 'defaultPlaylistId', playlistStore, {
  debounce: 0,
})

function openDefaultPlaylistSelectorModal() {
  defaultPlaylistSelectorModal.value.open(async (id: number | null) => {
    defaultPlaylist.valueId = id
    defaultPlaylistSelectorModal.value.hide()
  })
}

const { textarea: internalNoteEl } = useTextareaAutosize({
  input: computed(() => internalNote.value),
})
</script>
