<template>
  <ASection :title="t('showSchedules.title')">
    <div class="aura-table-wrapper tw-mb-0">
      <table class="aura-table">
        <thead>
          <tr>
            <th scope="col">
              {{ t('showSchedules.rhythm') }}
            </th>
            <th scope="col">
              {{ t('showSchedules.firstBroadcast') }}
            </th>
            <th scope="col">
              {{ t('showSchedules.lastBroadcast') }}
            </th>
            <th scope="col" class="tw-text-right">
              {{ t('showSchedules.times') }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="schedule in relevantSchedules"
            :key="schedule.id"
            :aria-label="
              t(
                schedule.lastDate
                  ? 'showSchedules.scheduleDescriptionFinite'
                  : 'showSchedules.scheduleDescription',
                {
                  rhythm: renderRruleForSchedule(schedule),
                  startDate: prettyDate(parseISO(schedule.firstDate)),
                  endDate: schedule.lastDate ? prettyDate(parseISO(schedule.lastDate)) : '',
                  startTime: stripSecondsFromTimeString(schedule.startTime),
                  endTime: schedule.endTime ? stripSecondsFromTimeString(schedule.endTime) : '',
                },
              )
            "
          >
            <th scope="row">
              {{ renderRruleForSchedule(schedule) }}
            </th>
            <td :colspan="schedule.firstDate === schedule.lastDate ? 2 : 1">
              {{ prettyDate(parseISO(schedule.firstDate)) }}
            </td>
            <td v-if="schedule.firstDate !== schedule.lastDate">
              <template v-if="schedule.lastDate">
                {{ prettyDate(parseISO(schedule.lastDate)) }}
              </template>
              <template v-else> offen </template>
            </td>
            <td class="tw-text-right">
              {{ stripSecondsFromTimeString(schedule.startTime) }}
              <template v-if="schedule.endTime"
                >- {{ stripSecondsFromTimeString(schedule.endTime) }}</template
              >
            </td>
          </tr>
          <tr v-if="relevantSchedules.length === 0">
            <td colspan="4">
              <p class="tw-text-center tw-py-3 tw-m-0">
                {{ t('showSchedules.noSchedulesAvailable') }}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ASection>
</template>

<script lang="ts" setup>
import { parseISO } from 'date-fns'
import { computed } from 'vue'

import { useRRule } from '@/mixins/rrules'
import { usePretty } from '@/mixins/prettyDate'
import { lowercaseFirst, uppercaseFirst } from '@/utilities'
import { useI18n } from '@/i18n'
import { Schedule, Show } from '@/types'
import ASection from '@/components/generic/ASection.vue'
import { useScheduleStore } from '@/stores/schedules'
import { usePaginatedList } from '@rokoli/bnb/drf'
import { stripSecondsFromTimeString } from '@/util'

defineOptions({ compatConfig: { MODE: 3 } })

const props = defineProps<{
  show: Show
}>()

const { t } = useI18n()
const { rruleRender } = useRRule()
const { prettyWeekday, prettyDate } = usePretty()
const scheduleStore = useScheduleStore()
const { result: schedule } = usePaginatedList(scheduleStore.listIsolated, 1, 100, {
  query: () => new URLSearchParams({ showIds: props.show.id.toString() }),
})
const relevantSchedules = computed(() =>
  schedule.value.items.filter((s) => !isPossiblyPastSchedule(s)),
)

function isPossiblyPastSchedule(schedule: Schedule) {
  // Recurrence rules get complex very fast, so we only give
  // a definitive answer if a lastDate is set for this schedule.
  if (!schedule.lastDate) {
    return false
  }
  const lastDate = parseISO(schedule.lastDate)
  const [hours, minutes, seconds] = (schedule.endTime ?? '00:00:00').split(':')
  lastDate.setHours(parseInt(hours ?? '0'), parseInt(minutes ?? '0'), parseInt(seconds ?? '0'))
  return new Date() > lastDate
}

function renderRruleForSchedule(schedule: Schedule) {
  if (schedule.rruleId < 3) {
    return uppercaseFirst(rruleRender(schedule.rruleId))
  }

  const rrule = uppercaseFirst(rruleRender(schedule.rruleId))
  const weekday = lowercaseFirst(prettyWeekday(schedule.byWeekday))

  return `${rrule} ${weekday}s`
}
</script>
