<template>
  <div class="tw-whitespace-nowrap">
    <FormGroup v-slot="attrs" :label="t('showTimeslots.numberOfSlots')">
      <input v-model.number="numberOfTimeslots" type="number" v-bind="attrs" />
    </FormGroup>

    <FormGroup v-slot="attrs" :label="t('showTimeslots.from')">
      <input v-model="startDate" type="date" v-bind="attrs" />
    </FormGroup>

    <FormGroup v-slot="attrs" :label="t('showTimeslots.to')">
      <input v-model="endDate" type="date" v-bind="attrs" />
    </FormGroup>
  </div>
</template>

<script lang="ts" setup>
import { useI18n } from '@/i18n'
import FormGroup from '@/components/generic/FormGroup.vue'

defineOptions({ compatConfig: { MODE: 3 } })

const numberOfTimeslots = defineModel<number>('numberOfTimeslots', { required: true })
const startDate = defineModel<string>('startDate', { required: true })
const endDate = defineModel<string>('endDate', { required: true })

const { t } = useI18n()
</script>
