/* Note that any color adjustments here must also be reflected in tailwind.config.js and tailwind.css */

$primary: #252f3f;
$info: #5029c4;
$link-color: #5029c4;

html,
body {
  min-height: 100vh;
}

#app {
  .fc {
    .fc-timegrid-now-indicator-line {
      border-width: 2px 0 0;
      transform: translateY(-1px);
    }

    .fc-timegrid-now-indicator-line,
    .fc-timegrid-now-indicator-arrow {
      --fc-now-indicator-color: hsl(335deg 75% 40% / 80%);
      mix-blend-mode: multiply;
    }
  }
}
