<template>
  <nav class="tw-flex tw-flex-col tw-gap-2 tw-mt-6">
    <ANavMenu :nav="mainNavigation" />
  </nav>
</template>

<script lang="ts" setup>
import { useMainNavigationData } from '@/components/nav/nav'
import ANavMenu from '@/components/nav/ANavMenu.vue'

const mainNavigation = useMainNavigationData()
</script>
