<template>
  <span class="a-color-badge tw-isolate" :style="{ color }">
    <slot />
  </span>
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { mapToDomain } from '@/util'

defineOptions({ compatConfig: { MODE: 3 } })

const props = defineProps<{
  random?: boolean
  seed?: string
}>()

function stringToHue(str: string): number {
  let hash = 0
  for (let i = 0; i !== str.length; i++) {
    if (hash >= Number.MAX_SAFE_INTEGER) break
    hash += str.charCodeAt(i)
  }
  return hash % 365
}

function randomHue() {
  return mapToDomain(Math.random(), [0, 1], [0, 365])
}

const color = computed(() => {
  const { random, seed } = props
  if (!random) return undefined
  const hue = seed ? stringToHue(seed) : randomHue()
  return `oklch(30% 60% ${hue})`
})
</script>

<style scoped lang="postcss">
/*
  TODO: once CSS relative colors are support maybe simply use something like:
          background-color: color-mix(in oklab, oklch(from currentColor l calc(c + (c / 10)) h) 12.5%, white);
        see: https://caniuse.com/css-relative-colors
*/
.a-color-badge::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: saturate(180%);
  border-radius: inherit;
  background-color: color-mix(in oklab, currentColor 12.5%, white);
}
</style>
