<template>
  <ATime :time="datetime">
    {{
      t(type === 'modified' ? 'editingMetadata.lastModified' : 'editingMetadata.created', {
        time: timeString,
        author: editInfo.author,
      })
    }}
  </ATime>
</template>

<script lang="ts" setup>
import { ensureDate, useIsToday, useRelativeDistanceToNow } from '@/util'
import { computed } from 'vue'
import { useNow } from '@vueuse/core'
import { useI18n } from '@/i18n'
import { usePretty } from '@/mixins/prettyDate'
import ATime from '@/components/generic/ATime.vue'

const props = defineProps<{
  editInfo: { author: string; time: string | Date }
  type: 'modified' | 'created'
}>()

const { t } = useI18n()
const { prettyDate, prettyTime } = usePretty()
const now = useNow({ interval: 60 * 1000 })
const datetime = computed(() => ensureDate(props.editInfo.time))
const isToday = useIsToday(datetime, now)
const datetimeFormattedRelative = useRelativeDistanceToNow(datetime, { addSuffix: true })
const timeString = computed(() =>
  isToday.value
    ? datetimeFormattedRelative.value
    : t('editingMetadata.timeSpecific', {
        date: prettyDate(datetime.value),
        time: prettyTime(datetime.value),
      }),
)
</script>
