<template>
  <svg viewBox="0 0 8 2" xmlns="http://www.w3.org/2000/svg">
    <circle cx="1" cy="1" fill="currentColor" r="1" stroke="none">
      <animate
        attributeName="opacity"
        begin="0.1"
        dur="1s"
        repeatCount="indefinite"
        values="0;1;0"
      />
    </circle>
    <circle cx="4" cy="1" fill="currentColor" r="1" stroke="none">
      <animate
        attributeName="opacity"
        begin="0.2"
        dur="1s"
        repeatCount="indefinite"
        values="0;1;0"
      />
    </circle>
    <circle cx="7" cy="1" fill="currentColor" r="1" stroke="none">
      <animate
        attributeName="opacity"
        begin="0.3"
        dur="1s"
        repeatCount="indefinite"
        values="0;1;0"
      />
    </circle>
  </svg>
</template>
