<template>
  <span>
    {{
      t('paginator.range', {
        start: paginationData.itemRange[0],
        end: paginationData.itemRange[1],
        count: paginationData.count,
      })
    }}
  </span>
</template>

<script lang="ts" setup>
import { PaginationData } from '@/types'
import { useI18n } from '@/i18n'

defineProps<{
  paginationData: PaginationData
}>()
const { t } = useI18n()
</script>
