<template>
  <span
    class="tw-bg-green-100 tw-text-xs tw-text-green-800 tw-px-[1em] tw-py-[0.25em] tw-leading-normal tw-rounded-full tw-flex tw-items-center tw-gap-[.5em] tw-shrink-[100] tw-min-w-[3em]"
  >
    <span
      class="tw-animate-spin tw-h-[1em] tw-w-[1em] tw-border-2 tw-border-b-transparent tw-border-solid tw-border-green-800/30 tw-rounded-full tw-block tw-flex-none"
    />
    <span class="tw-truncate tw-min-w-0 tw-max-w-full">{{ t('saveIndicator.label') }}</span>
  </span>
</template>

<script lang="ts" setup>
import { useI18n } from '@/i18n'

defineOptions({
  compatConfig: { MODE: 3 },
})

const { t } = useI18n()
</script>
