<template>
  <span
    class="tw-py-1 tw-px-2 tw-flex tw-items-center tw-bg-gray-100 tw-flex-none tw-rounded tw-max-w-full"
  >
    <span class="tw-min-w-0 tw-truncate tw-flex-1">
      <slot>{{ label }}</slot>
    </span>
    <button
      v-if="removable"
      type="button"
      class="btn tw-text-xs tw-p-0 tw-flex-none tw-ml-1"
      @click="emit('remove')"
    >
      <icon-system-uicons-cross />
    </button>
  </span>
</template>

<script lang="ts" setup>
defineOptions({ compatConfig: { MODE: 3 } })
defineProps<{
  label?: string
  removable?: boolean
}>()
const emit = defineEmits<{
  remove: []
}>()
</script>
