<template>
  <div
    class="form-control tw-flex tw-flex-wrap tw-gap-2 tw-h-auto tw-min-h-[46px] tw-cursor-text"
    @click="inputEl?.focus?.()"
  >
    <input
      ref="inputEl"
      v-model="tagInputValue"
      type="text"
      class="tw-flex-1 tw-border-none focus:tw-outline-none tw-p-0 tw-m-0 tw-min-w-[150px] tw-order-last"
      @keyup.enter.prevent="addTag(tagInputValue)"
      @keydown.delete="maybeRemoveLastTag"
      @click.stop
    />

    <Tag
      v-for="(tag, index) in modelValue"
      :key="index"
      :label="getLabel(tag)"
      removable
      @remove="removeTag(index)"
    />
  </div>
</template>

<script lang="ts" setup generic="T = string">
import { computed, ref } from 'vue'
import { useCopy } from '@/form'
import Tag from '@/components/generic/Tag.vue'

defineOptions({ compatConfig: { MODE: 3 } })

const props = withDefaults(
  defineProps<{
    modelValue: T[]
    transformInput?: (input: {
      label: string
      key: string | number | undefined
    }) => Promise<T | undefined>
    getLabel?: (value: T) => string
  }>(),
  {
    list: undefined,
    transformInput: async ({ label }: { label: string }) => label as T,
    getLabel: (value: T) => value as string,
  },
)
const emit = defineEmits<{
  'update:modelValue': [T[]]
}>()
const value = useCopy(
  computed(() => props.modelValue),
  { save: (newValue) => emit('update:modelValue', newValue) },
)
const tagInputValue = ref('')
const inputEl = ref<HTMLInputElement>()

async function addTag(label: string, key?: number | string | undefined) {
  const newValue = await props.transformInput({ label, key })
  if (newValue !== undefined) {
    value.value.push(newValue)
    tagInputValue.value = ''
  }
}

function removeTag(index: number) {
  value.value.splice(index, 1)
}

function maybeRemoveLastTag() {
  if (tagInputValue.value === '' && value.value.length > 0) {
    value.value.splice(value.value.length - 1, 1)
  }
}
</script>
